@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Default Indigo Palette Mapped to Variables */
  --c-50: #eef2ff;
  --c-100: #e0e7ff;
  --c-200: #c7d2fe;
  --c-300: #a5b4fc;
  --c-400: #818cf8;
  --c-500: #6366f1;
  --c-600: #4f46e5;
  --c-700: #4338ca;
  --c-800: #3730a3;
  --c-900: #312e81;
  --c-950: #1e1b4b;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F8FAFC;
  -webkit-tap-highlight-color: transparent;
  overscroll-behavior-y: none;
  user-select: none;
  -webkit-user-select: none;
}
input, textarea {
  user-select: text;
  -webkit-user-select: text;
}
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
.glass {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.glass-dark {
  background: rgba(15, 23, 42, 0.9);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
}
input[type="time"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}